<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Ww</h1>
{% for article in articles %}
    {{ article.title }}
{% endfor %}
</body>
</html>